env/*
*.pyc
*.sqlite
custom_settings.py
*.kdev4*
*.mo
*.sw?
*.blt
agora_site/whoosh_index/*
celerybeat-schedule
djcelery.schedulers.DatabaseScheduler
docs/_build/
agora_site/media/data/
agora_site/media/mugshots/
node_modules
agora_site/whoosh_test_index/
.aws-sam/





docs/_static/diagrams/data_model.md
docs/_static/diagrams/front_agora.md
docs/_static/diagrams/front_election.md
docs/_static/diagrams/front_global.md
docs/_static/diagrams/front_people.md