# Django y dependencias core
Django==1.5.5
south==0.7.6
django-guardian==1.2.5
django-activity-stream==0.6.1
django-social-auth==0.7.28
django-crispy-forms==1.3.2
django-haystack==2.1.0
django-debug-toolbar==0.11.0
django-celery==3.0.11
django-tastypie==0.9.12
django-rosetta==0.6.3
django-simple-captcha==0.4.6

# Procesamiento de imágenes y archivos
Pillow==6.2.2
easy-thumbnails==2.1
lxml==4.3.5

# Utilidades de desarrollo
ipdb==0.10.3
ipython==5.10.0
requests==2.20.0
py-bcrypt==0.4
textile==2.1.5
simplejson==3.17.6
pygeoip==0.3.2
pytz==2015.7
whoosh==2.4.1
sphinx==1.8.5
sphinxcontrib-httpdomain==1.3.0
jsonfield==0.9.19
markdown==2.6.11
pyopenssl==19.1.0
pyasn1==0.4.8
pyasn1_modules==0.2.8
html2text==2019.8.11
bleach==2.1.4

# Celery y dependencias
celery==3.0.12
kombu==2.5.16
billiard==2.7.3.34
amqp==1.4.9

# Dependencias de git
git+https://github.com/edulix/django-jsgettext.git
git+https://github.com/OpenTechStrategies/openstv.git
